form {
  width: 350px;
  border: 5px solid grey;
  border-radius: 5px;
  display: block;
  margin: 0 auto; }

#login {
  background-color: #27ae60;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

input {
  resize: none;
  margin: 40px 25px;
  width: 300px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #27ae60;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #27ae60 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #27ae60 4%);
  background-position: -300px 0;
  background-size: 300px 100%;
  background-repeat: no-repeat;
  color: #cccccc;
  font-family: "Roboto", sans-serif; }
  input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
      color: #27ae60;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      visibility: visible !important; }

button {
  border: none;
  background: #27ae60;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 300px;
  color: white;
  margin-left: 25px;
  margin-bottom: 40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  font-family: "roboto", sans-serif;
  text-transform: uppercase; }
  button:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }

/* <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
 *
 * <form action="">
 *    <div id="login">Login to your account</div>
 *     <input type="text" placeholder="User" required="">
 *     <input type="password" placeholder="Password" required="">
 *     <button>Login</button>
 * </form> */
