nav {
  width: 100%; }
  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    nav ul li {
      padding: 30px; }
      nav ul li a {
        text-decoration: none;
        list-style: none;
        color: white;
        font-weight: 500;
        font-family: "Roboto", sans-serif; }
        nav ul li a:hover {
          color: #27ae60;
          border-bottom: 3px solid #27ae60;
          padding-bottom: 5px;
          -webkit-transition: 0.2s;
                  transition: 0.2s; }

/*<nav>
 * <ul>
 *     <li><a href="#">1</a></li>
 *     <li><a href="#">2</a></li>
 *     <li><a href="#">3</a></li>
 *     <li><a href="#">4</a></li>
 *     <li><a href="#">5</a></li>
 * </ul>
 * </nav> */
